<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107140515241-m5nn2h7rq6ttadte6sdbovvocud777kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107140515241-m5nn2h7rq6ttadte6sdbovvocud777kq</string>
	<key>API_KEY</key>
	<string>AIzaSyBwu-pW4WwxNGuhe2uifj_4LEhdg8wMWro</string>
	<key>GCM_SENDER_ID</key>
	<string>107140515241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportsFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>sports-analytics-group15-spl</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-analytics-group15-spl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107140515241:ios:17d1eff49884948184b0b8</string>
</dict>
</plist>